button.p-button,
a.p-button {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  border-radius: $borderRadius - 4px;

  &.p-button-raised {
    box-shadow: 0 3px 5px -2px rgb(0 0 0 / 5%), 0 2px 7px 0 rgb(0 0 0 / 14%), 0 1px 1px 0 rgb(0 0 0 / 12%) !important;
  }

  span.p-button-label {
    font-family: "iranyekan";
  }

  &.p-button-icon-only {
    gap: 0;

    span.p-button-icon {
      margin-left: 0;
    }
  }

  span.p-button-icon {
    margin: 0;
    display: grid;
  }
}