<div [lang]="translate.currentLang" class="p-3 sm:p-4 md:p-5 lg:p-6 xl:p-6 surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
    <div class="col-12 xl:col-7" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="h-full w-full m-0 py-6 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
        <div class="text-center mb-7">
          <img src="assets/images/logo-dark.svg" alt="Mahand Logo" height="50" class="mb-2" />
          <div class="text-900 text-3xl font-bold mb-2">{{ 'titles.forget_password' | translate }}</div>
          <span class="text-600 font-medium">{{ 'messages.forget_password' | translate }}</span>
        </div>

        <div class="w-full md:w-11 mx-auto">

          <div class="form">
            <div class="card">
              <p-steps [model]="forgetPasswordSteps"></p-steps>
            </div>
        
            <router-outlet></router-outlet>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>