::ng-deep {
  .form {
    .card {
      box-shadow: none !important;
      padding: 0;
      background-color: transparent;

      p-steps {
        display: grid;

        .p-steps {
          ul {
            li.p-element.p-steps-item {
              a.p-menuitem-link {
                background: transparent;

                span.p-steps-title {
                  font-family: "iranyekan";
                }
              }
            }
          }
        }
      }
    }

    .stepsdemo-content {
      p-card {
        .p-card {
          background: transparent;
          box-shadow: none;

          .p-card-body {
            padding: 0;

            .field {
              label {
                font-family: "iranyekan" !important;
              }
            }
          }
        }
      }
    }
  }
}
