<div [lang]="translate.currentLang" class="p-3 sm:p-4 md:p-5 lg:p-6 xl:p-6 surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
    <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="h-full w-full m-0 py-6 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
       
        <div class="text-center mb-7">
          <img src="assets/images/logo-dark.svg" alt="Mahand Logo" height="50" class="mb-2" />
          <div class="text-900 text-3xl font-bold mb-2">{{ 'titles.change_phone' | translate }}</div>
          <span class="text-600 font-medium">{{ 'messages.change_phone' | translate }}</span>
        </div>

        <div class="w-full md:w-10 mx-auto">

          <!-- password -->
          <div class="field col-12">
            <label 
              for="password" 
              class="block text-900 text-base font-medium mb-2">
              {{ 'labels.password' | translate }}
            </label>

            <p-password 
              id="password" 
              [(ngModel)]="password" 
              placeholder=""
              [promptLabel]="'inputs.password_strength' | translate"
              styleClass="w-full"
              [weakLabel]="'titles.weak' | translate"
              [mediumLabel]="'titles.medium' | translate"
              [strongLabel]="'titles.strong' | translate"
              [placeholder]="'inputs.password' | translate">
            </p-password>
          </div>

          <!-- new phone number -->
          <div class="field col-12">
            <label 
              for="new_phone_number" 
              class="block text-900 text-base font-medium mb-2">
              {{ 'labels.new_phone_number' | translate }}
            </label>

            <p-inputMask 
              id="new_phone_number"
              [(ngModel)]="newPhoneNumber" 
              slotChar="-"
              mask="0 9 9 9 9 9 9 9 9 9 9"
              placeholder="- - - - - - - - - - -"
              styleClass="w-full">
            </p-inputMask>
          </div>

          <div class="field md:inline-flex p-0 mb-0 mt-3 col-12">
            <button 
              pButton 
              pRipple 
              [label]="'buttons.submit' | translate" 
              class="col-8 md:col-4 p-3 mx-auto text-xl">
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>